{% extends "main.html" %}
{% block content %}
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class = 'flash row'>
				<ul>
					{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}

	<section class="container-flex my-container">
		<div class="row my-row">
			<div class="col-sm-12 col-md-12 my-col">
				<div class="edit-div">
					<div class="lyrics-header">
						<h3>Delete {{ deleted_song.band }} - {{ deleted_song.name }} from category {{ selected_category.name }}?</h3>
					</div>
					<label for="lyrics">Lyrics:</label><br>
					<textarea readonly id="lyrics" class="lyrics-box">{{ deleted_song.lyrics }}</textarea><br>
					<form action="{{url_for('deleteSong', category_name = selected_category.name, song_band = deleted_song.band, song_name = deleted_song.name)}}" method = "post">
						<div class="form-group">
							<button type="submit" class="btn btn-default delete" id="submit">
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>Delete song</button>
							<a class="btn btn-default cancel" href="{{url_for('showSongs', category_name = selected_category.name )}}">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>	
{% endblock %}
